
body {
  min-height: 100vh;
  background-image: url("./images/344_243_1558895986144635898004111912095(2).jpg");
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1{

	font-size: 80px;
  color: #ecbe45;
  background: rgb(0, 0, 0);
  background:rgba(0, 0, 0, 0.7);
  padding: 5px;
  padding-left:12px;
  letter-spacing: 0.1em;
  border-radius: 10px;

  /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
}
.main-section {
  background: white
}

#h1-wrapper {
  display: flex;
  height: 100vh;
   justify-content: center;
    align-items: center;
}